/* =========================================================
Responsive
========================================================= */

@media(max-width:992px){

.container{

max-width:100%;

}

}


@media(max-width:768px){

body{

font-size:15px;

}

}


@media(max-width:576px){

.container{

padding:0 14px;

}

}
